* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    transition-duration: 200ms;
}


body {
    background-image: url("assets/backbang.jpg");
    background-size: cover;
}

header {
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 100px;
    font-style: bolder;
    display: inline;
    letter-spacing: -7px;
}

header img {
    height: 60px;
    display: inline-block;
}

article {
    padding: 10px;
    background-color: rgb(169, 169, 227);
    text-align: center;
    width: 40vw;
    height: 44vh;
    margin: auto;
    border-radius: 20px;
}

.choices,
.play {
    display: flex;
    justify-content: space-evenly;
    font-size: 8vh;
    margin-bottom: 15px;
}

.choices {
    cursor: pointer;

}

.choices span:hover {
    opacity: 0.8;

}

.choices span:active {
    opacity: 0.4;

}

.myPlay,
.playMachine {
    opacity: 0;
}

.results {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.me {
    color: rgb(181, 90, 90);
}

.it {
    color: rgb(42, 42, 128);
}

footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 150px;
    height: 35vh;
    padding: 0 15vh;
}

.result {
    display: flex;
    justify-content: space-evenly;
    font-size: 6vh;
    margin-bottom: 15px;
}





@media screen and (max-width: 1000px) and (orientation: portrait) {


    header h1 {
        font-size: 80px;
        letter-spacing: -5px
    }

    article {
        padding: 05px;
        width: 80vw;
        height: 30vh;

    }

    .choices,
    .play {
        font-size: 4vh;
        margin-bottom: 5px;
    }

    footer {
        display: inline-block;
        padding: 0;
        height: auto;
        width: 100vw;
        position: static;
        

    }

    footer img {
        display: block;
        width: 50vw;
        margin: auto;
    }

    .results {
        display: inline;        
    }

    .result  {
        font-size: 4vh;
    }

}

@media screen and (max-width: 1000px) and (orientation: landscape) {

    header h1 {
        font-size: 60px;
        letter-spacing: -5px
    }

    article {
        padding: 06px;
        width: 80vw;
        height: 50vh;

    }

    .choices,
    .play {
        font-size: 7vh;
        margin-bottom: 5px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 90px;
        padding: 5px;
        height: auto;
        width: 100vw;

    }

    footer img {
        display: block;
        height: 20vw;
        margin: 0;
     
    }

    .results {
        display: inline;
    }


}